body {
    background-color: rgb(241, 241, 241);
}

header, footer, ul {
    background-color: rgb(20, 20, 20);
}

h1, h2, h3, p, .resume-box a {
    color: rgb(76, 20, 102);
}

footer p, nav a {
    color: rgb(179, 148, 194);
}

.active-link {
    color: gold;
}

nav a:hover {
    color: gold;
}

.resume-button {
    background-color: rgb(20, 20, 20);
    color: rgb(241, 241, 241);
}

.resume-button:hover {
    background-color: gold;
    color: rgb(76, 20, 102);
}