/* Small Mobile Screens */
.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25px auto 25px auto 25px auto 25px auto 25px auto 25px auto 25px auto 25px auto 25px;
    justify-items: center;
}

.project-container {
    width: 80%;
    border-radius: 15px;
    padding: 65px 15px;
}

#project1 {
    grid-row: 2/ 3;
}

#project2 {
    grid-row: 4/ 5;
}

#project3 {
    grid-row: 6/ 7;
}

#project4 {
    grid-row: 8/ 9;
}

#project5 {
    grid-row: 10/ 11;
}

#project6 {
    grid-row: 12/ 13;
}

#project7 {
    grid-row: 14/ 15;
}

#project8 {
    grid-row: 16/ 17;
}

#project1:hover, #project2:hover, #project3:hover, #project4:hover, #project5:hover, #project6:hover, #project7:hover, #project8:hover {
    box-shadow: 8px 8px 20px rgb(76, 20, 102);
}

#project1:hover {
    background-image: url(../images/KH_Logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#project2:hover {
    background-image: url();
}

#project3:hover {
    background-image: url();
}

#project4:hover {
    background-image: url();
}

#project5:hover {
    background-image: url();
}

#project6:hover {
    background-image: url();
}

#project7:hover {
    background-image: url();
}

#project8:hover {
    background-image: url();
}


/* Tablet Screens */
@media(min-width: 550px) {
    .grid-container {
        grid-template-columns: auto 25px auto;
        grid-template-rows: 25px auto 25px auto 25px auto 25px auto 25px;
        justify-items: center;
    }
    
    .project-container {
        width: 80%;
        border-radius: 15px;
        padding: 65px 15px;
    }
    
    #project1 {
        grid-column: 1/ 2;
        grid-row: 2/ 3;
    }
    
    #project2 {
        grid-column: 3/ 4;
        grid-row: 2/ 3;
    }
    
    #project3 {
        grid-column: 1/ 2;
        grid-row: 4/ 5;
    }
    
    #project4 {
        grid-column: 3/ 4;
        grid-row: 4/ 5;
    }
    
    #project5 {
        grid-column: 1/ 2;
        grid-row: 6/ 7;
    }
    
    #project6 {
        grid-column: 3/ 4;
        grid-row: 6/ 7;
    }
    
    #project7 {
        grid-column: 1/ 2;
        grid-row: 8/ 9;
    }
    
    #project8 {
        grid-column: 3/ 4;
        grid-row: 8/ 9;
    }

}

/* Laptop Screens */
@media(min-width: 768px) {
    .grid-container {
        grid-template-columns: auto 25px auto;
        grid-template-rows: 25px auto 55px auto 55px auto 55px auto 25px;
        justify-items: center;
    }
       
    .project-container {
        width: 70%;
        border-radius: 15px;
        padding: 65px 15px;
    }
}

/* Large Laptop Screens */
@media(min-width: 960px) {
    .grid-container {
        grid-template-columns: auto 25px auto;
        grid-template-rows: 25px auto 25px auto 25px auto 25px auto 25px;
        justify-items: center;
    }
    
    .project-container {
        width: 80%;
        border-radius: 15px;
        padding: 65px 15px;
    }
    
    #project1 {
        grid-column: 1/ 2;
        grid-row: 2/ 3;
    }
    
    #project2 {
        grid-column: 3/ 4;
        grid-row: 2/ 3;
    }
    
    #project3 {
        grid-column: 5/ 6;
        grid-row: 2/ 3;
    }
    
    #project4 {
        grid-column: 7/ 8;
        grid-row: 2/ 3;
    }
    
    #project5 {
        grid-column: 1/ 2;
        grid-row: 4/ 5;
    }
    
    #project6 {
        grid-column: 3/ 4;
        grid-row: 4/ 5;
    }
    
    #project7 {
        grid-column: 5/ 6;
        grid-row: 4/ 5;
    }
    
    #project8 {
        grid-column: 7/ 8;
        grid-row: 4/ 5;
    }
}